<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Blog</li>
                <li>Contato</li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <div>
                <h1>Olá, eu sou  Kemuel, Estou aprendendo a programar e estou adorando.</h1>
                <p>Nerd e Apaixonado por tecnologia,
                    e iniciando nesse mundo, sempre
                    disposto a aprender e compartilhar experiências.</p>
                <button>Baixar CV</button>
            </div>

            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFFi77SVIjOsQ/profile-displayphoto-shrink_800_800/0/1615333283280?e=1632960000&v=beta&t=qOxUb2ASCJMX1LDnSuk8XzjENgClCIFJJhlwzJaKi8Y" alt="Imagem de Perfil de Kemuel">
        </section>
    </main>    
</body>
</html>