* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: midnightblue;
    color: white;
}

header nav {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}   

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    font-size: 20px;
}

main {
    width: 1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 100px;
}

main section {
    display: flex;
}

main section img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

main section div h1 {
    font-size: 60px;
    margin-bottom: 20px;
    
}

main section div p {
    font-size: 20px;
    margin-bottom: 20px;
}

main section div button {
    background-color: midnightblue;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
}

footer nav ul {
    list-style: none;
    display: flex;
    

}
 
footer nav {
    background-color: midnightblue;
    color: white;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
